@media(max-width: 950px)
{
  .center__section{
    max-width: 650px;
}
.road {
  flex-direction: column;
}
.div__road__2 {
  background: url(../img/flame.png) center center/ cover;
  width: 100%;
  padding-top: 157px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.div__road {
  background: url(../img/polar.png) center center/ cover;
  width: 100%;
  padding-top: 157px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
}
@media(max-width: 730px){
  .color {
    position: static;
}
.header__list {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.center__section {
  justify-content: center;
gap: 40px;
}
}

@media (max-width:  500px){
  .div__header__p {
    font-size: 30px;
}
  
}
@media (max-width:  430px){
.header__div {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.input {
  padding: 18px 15px;
}
}
@media (max-width:  380px){
  .for__container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}